
<script>
	import * as columnHelper from './helpers/columnID';
	export  default {
		template: `
    <span>
    <vue-html5-editor
     :content="contents"
     :height="500"
     v-bind:id="setIdAttr()"
     v-bind:value="contents"
     @change="updateData"
     ></vue-html5-editor>
    </span>
  `,
		props: [
				'type',
				'contents',
				'col',
				'row'
		],
		methods: {
			setIdAttr: function () {
				return columnHelper.idAttr(this.row,this.col);
			},
			updateData: function (content) {
				this.emitUpdate(content);
			},
			emitUpdate: function (value) {
				this.$parent.$emit('columnUpdate',{
					value: value,
					row: this.row,
					col: this.col
				});
			}
		}

	}
</script>
