<template>
	<div>
		<div class="form-group">
			<label v-bind:for="idAttr()" class="sr-only">
				Column Type
			</label>
			<select v-bind:id="idAttr()" v-model="column.type" class="form-control" v-on:change="changeType()">
				<option v-for="type in types" v-bind:value="type">
					{{type}}
				</option>
			</select>
		</div>
	</div>
</template>
<script>
	import * as defs from './helpers/definitions';
	let updateEmit = 'colTypeChange';
	let ID =  Date.now();
	export default {
		props : [
			'column',
		],
		computed : {
			types() {
				return defs.colTypes;
			}
		},
		methods : {
			idAttr(){
				return 'col-type-chooser-' + ID;
			},
			changeType(){

			},
			emitUpdate: function (value) {
				this.$parent.$emit(updateEmit,{
					column
				});
			}
		}
	}
</script>