<template>
	<div><div>{{ count }}</div>
	<button v-on:click.prevent="click">Click</button></div>
</template>

<script>
	export default {
		name: 'hello',
		data () {
			return {
				msg: 'Welcome to Your Vue.js App'
			}
		},
		computed: {
			count () {
				return this.$store.state.count
			}
		},
		methods: {
			click: function() {
				this.$store.commit('increment', 10)
			}
		}

	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h1, h2 {
		font-weight: normal;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		margin: 0 10px;
	}

	a {
		color: #42b983;
	}
</style>
