<template>
	<div class="caldera-layout-image image-responsive">
		<img v-bind:src="image.url" v-bind:alt="image.alt" v-bind:width="width" v-bind:height="height" />
	</div>
</template>
<script>
	export default {
		props: {
			name : {
				type:String,
				required:true
			},
			width :{
				type: [ Number, String ],
				required: false,
				default: 250
			},
			height :{
				type: [ Number, String ],
				required: false,
				default: 250
			}
		},
		computed: {
			image () {
				let image = this.$store.getters.getImage(this.name);
				if( 'object' !== typeof  image ||! image.hasOwnProperty('url')){
					image = {
						url: 'http://placehold.it/350x150',
						alt: 'placeholder'
					};
				}
				return image;
			},
		},
	}
</script>
<style>

</style>