<template>
	<div class="image-chooser">
		<div v-for="(image, index) in images" class="row">
			<div class="col">
				<div class="form-group">
					<div class="control-label" v-bind:for="'select-' + index">
						Choose {{image.name}}
					</div>
					<input
							type="radio"
							v-bind:id="'select-' + index"
							v-model="selected"
							v-bind:value="image.name"
					/>
				</div>
			</div>
			<div class="col">
				<image-view v-bind:name="image.name"></image-view>
			</div>
		</div>
		<div>
			<file-upload
					:title="'Add New File'"
					class="btn btn-default"
					:multiple="false"
					:accept="'png,jpg'"
					:size="512"
			>
			</file-upload>
		</div>
	</div>
</template>
<script>
	import image from '@/components/Image.vue';
	import FileUpload from 'vue-upload-component'

	export default {
		components: {
			'image-view': image,
			'file-upload': FileUpload
		},
		props: {
			images: Object,
			col : {
				type: [ String,Number],
				required: true,
			},
			row : {
				type: [ String,Number],
				required: true,
			}
		},
		data()  {
			return {
				selected: String
			}
		},
		methods : {
			emitUpdate: function (value) {
				this.$parent.$emit('imageUpdate',{
					value: value,
					row: this.row,
					col: this.col
				});
			},
			addFileUpload:function (a) {

			},
			fileUploadProgress:function () {

			},
			beforeFileUpload:function (a) {
				alert(1);
			},
			afterFileUpload:function(a){

			}

		},
		watch: {
			selected: function (selected) {
				this.emitUpdate(selected);
			},

		},
		computed: {
			images () {
				return this.$store.getters.allImages();
			},

		}

	}

</script>