<template>
	<div class="caldera-layout container">
		<div class="row">
			<div class="col-md-9">
				<div v-for="(row, rowID) in rows" class="row clg-edit-row">
					<div v-for="(col, colID) in row.columns" @mouseover="rowIn(row)" @mouseleave="rowOut(row)">
						<div v-if="col.width > 0">
							<col-type-chooser v-bind:column="col"></col-type-chooser>
							<div v-bind:class="'cgl-col col-lg-'+ col.width">
								<div v-show="! row.show">
								<span v-if="'content' == col.type">
									[Message Content]
								</span>
									<span v-if="'image' == col.type">
									<image-view v-bind:name="col.content" :width="100" :height="100"></image-view>

								</span>
									<span v-else>
									{{col.content}}
								</span>
								</div>
								<div v-show="row.show" class="clg-edit-row-editting">
									<label v-bind:for="colLabel(rowID,colID)" class="sr-only">
										Edit Column Contents
									</label>
									<span v-if="'textarea' === col.type">
		<column v-bind:contents="col.content" :col="colID" :row="rowID"></column>
								</span>
									<span v-else-if="'content' == col.type">
									[Message Content]
								</span>
								<span v-else>
									<image-chooser v-bind:name="col.content" v-bind:selected="col.content" :col="colID" :row="rowID"></image-chooser>
								</span>

								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<row-control v-bind:rows="rows"></row-control>
			</div>
		</div>

	</div>
</template>


<script>
	import column from '@/components/ColumnEditor.vue';
	import image from '@/components/Image.vue';
	import * as columnHelper from './helpers/columnID';
	import * as validators from './helpers/validators';
	import _ from 'lodash';
	import imageChooser from '@/components/ImageChooser.vue';
	import RowControl from '@/components/RowControl.vue';
	import colTypeChooser from '@/components/ColumnTypeChooser.vue';
	export default {
		components: {
			column: column,
			'image-view': image,
			'image-chooser': imageChooser,
			'row-control': RowControl,
			'col-type-chooser': colTypeChooser
		},
		name: 'layout',
		data () {
			return {
				ID : 2,
				rows: {},
				name: ''
			}
		},
		created() {
			this.setUpRows();
			this.$on('columnUpdate', obj => {
				obj.layout = this.ID;
				this.rows[obj.row].columns[obj.col].content = obj.value;
				this.rows[obj.row].columns[obj.col] = validators.validateCol(this.rows[obj.row].columns[obj.col]);
				this.$forceUpdate();
				this.updateState();
			});
			this.$on('imageUpdate', obj => {
				obj.layout = this.ID;
				this.rows[obj.row].columns[obj.col].content = obj.value;
				this.rows[obj.row].columns[obj.col] = validators.validateCol(this.rows[obj.row].columns[obj.col]);
				this.$forceUpdate();
				this.updateState();
			});
			this.$on( 'rowControlChange', obj => {
				this.changeRowLayout(obj.value);
			});
			this.$on( 'rowAdded', function(){
				this.updateState();
				this.$forceUpdate();
			});

		},
		methods: {
			update(content) {
				this.html = content;
			},
			updateState() {
				this.$store.commit( 'updateLayout', this.layout );
			},
			setUpRows() {
				let _rows = this.$store.getters.getRows(this.ID);

				let i = 1;
				_rows.forEach( row => {
					row.ID = i;
					row.show = false;
					this.rows[i] = row;
					i++;
				});
			},
			rowIn(row)  {
				if (undefined !== this.rows[row.ID]) {
					this.rows[row.ID].show = true;
					this.$forceUpdate();
				}
			},
			rowOut( row ){
					if (undefined !== this.rows[row.ID]) {
						this.rows[row.ID].show = false;
						this.$forceUpdate()
					}else{
					}

			},
			colLabel(row,col) {
				return columnHelper.idAttr(row,col);
			},
			changeRowLayout(row){
				this.rows[row.ID] = row;
				this.layout.rows = this.rows;
				this.$store.commit( 'updateLayout', this.layout );
				this.$forceUpdate();
			}
		},
		watchers : {
			rows: function (r) {
				console.log(r);
			}
		},
		computed: {
			layout () {
				return this.$store.getters.getLayoutById(this.ID)
			},

		},
	}
</script>

<style scoped>
	.clg-edit-row-editting {
		border:1px solid #cfcfcf;
	}

	.clg-edit-row{
		border-color:#ff7e30;
	}
</style>
