<template>
	<div>
		<h3>Rows</h3>
		<ul class="list-group" >
			<li class="list-group-item" v-for="row in rows">
				<div class="form-group">
					<label v-bind:for="'row-edit-name-' + row.ID" class="sr-only">
						Row Name
					</label>
					<input v-model="row.name" v-bind:id="'row-edit-name-' + row.ID" v-on:change="changeRowName(row)" />
				</div>
				<div class="form-group">
					<label v-bind:for="'row-edit-layout-' + row.ID" class="sr-only">
						Row Name
					</label>
					<select v-model="row.layout" v-bind:id="'row-edit-layout-' + row.ID" v-on:change="changeRowLayout(row)">
						<option v-for="option in rowLayoutOptions" v-bind:value="option">
							{{option}}
						</option>
					</select>
				</div>
			</li>
		</ul>
		<button class="btn btn-primary" v-on:click="addRow()">Add New Row</button>
	</div>


</template>
<script>
	import * as validators from './helpers/validators';
	export default {
		props : [
			'rows'
		],
		methods: {
			changeRowLayout(row){
				this.emitUpdate(row);
			},
			changeRowName(row){
				this.emitUpdate(row);
			},
			emitUpdate: function (value) {
				this.$parent.$emit('rowControlChange',{
					value: value,
				});
			},
			addRow:function () {
				this.$store.commit( 'addRow', this.$parent.layout );
				this.$parent.$emit('rowAdded',{
				});
			}
		},
		computed : {
			rowLayoutOptions(){
				return validators.rowLayoutOptions();
			}
		}
	}
</script>